<h1>Listing brackets</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Tournament</th>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @brackets.each do |bracket| %>
      <tr>
        <td><%= bracket.user %></td>
        <td><%= bracket.tournament %></td>
        <td><%= bracket.name %></td>
        <td><%= link_to 'Show', tournament_bracket_path(@tournament, bracket) %></td>
        <td><%= link_to 'Edit', edit_tournament_bracket_path(@tournament, bracket) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

