<h1>Listing brackets</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Tournament</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @brackets.each do |bracket| %>
      <tr>
        <td><%= bracket.user %></td>
        <td><%= bracket.tournament %></td>
        <td><%= bracket.name %></td>
        <td><%= link_to 'Show', bracket %></td>
        <td><%= link_to 'Edit', edit_bracket_path(bracket) %></td>
        <td><%= link_to 'Destroy', bracket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bracket', new_bracket_path %>
