<p>
  <strong>User:</strong>
  <%= @bracket.user.user_name %>
</p>

<p>
  <strong>Tournament:</strong>
  <%= @bracket.tournament.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @bracket.name %>
</p>

<% @bracket.bracket_matches.each do |m| %>
	<p><b><%= m.match.id %></b></p>
<% end %>


<%= link_to 'Back', tournaments_path %>
