<h1>Sign in</h1>

<div>
	<%= form_tag(sessions_path, method: :post, id: :new_session) do %>
		<% if params[:action] == "create" %>
			<div id="error_explanation">
				<p>The username/password pair you entered did
				not match our records.  Check your typing and
				try again.</p>
			</div>
		<% end %>
		<p>
			<%= label_tag(:username_or_email, "Username/Email") %><br/>
			<%= text_field_tag(:username_or_email) %>
		</p>
		<p>
			<%= label_tag(:password) %><br/>
			<%= password_field_tag(:password) %>
		</p>
		<p>
			<%= submit_tag("Log in", class: :signin) %>
		</p>
	<% end %>

	<p>New user? <%= link_to("Sign up now!", new_user_path) %></p>
</div>
