<%
# Copyright (C) 2014 Andrew Murrell
# Copyright (C) 2014 Davis Webb
# Copyright (C) 2014 Guntas Grewal
# Copyright (C) 2014 Luke Shumaker
# Copyright (C) 2014 Nathaniel Foy
# Copyright (C) 2014 Tomer Kimia
#
# This file is part of Leaguer.
#
# Leaguer is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Leaguer is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the Affero GNU General Public License
# along with Leaguer.  If not, see <http://www.gnu.org/licenses/>.
%>
<h1>Sign in</h1>

<div>
	<%= form_tag(sessions_path, method: :post, id: :new_session) do %>
		<% if params[:action] == "create" %>
			<div class="alert-danger">
				<p>The username/password pair you entered did
				not match our records.  Check your typing and
				try again.</p>
			</div>
		<% end %>
		<div class="field">
			<%= label_tag(:username_or_email, "Username/Email") %><br/>
			<%= text_field_tag(:username_or_email) %>
		</div>
		<div class="field">
			<%= label_tag(:password) %><br/>
			<%= password_field_tag(:password) %>
		</div>
		<div class="field">
			<%= submit_tag("Log in", class: :signin) %>
		</div>
	<% end %>

	<p>New user? <%= link_to("Sign up now!", new_user_path) %></p>
</div>
