<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @session.user %>
</p>

<p>
  <strong>Token:</strong>
  <%= @session.token %>
</p>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
