<%
# Copyright (C) 2014 Andrew Murrell
# Copyright (C) 2014 Davis Webb
# Copyright (C) 2014 Guntas Grewal
# Copyright (C) 2014 Luke Shumaker
# Copyright (C) 2014 Nathaniel Foy
# Copyright (C) 2014 Tomer Kimia
#
# This file is part of Leaguer.
#
# Leaguer is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Leaguer is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the Affero GNU General Public License
# along with Leaguer.  If not, see <http://www.gnu.org/licenses/>.
%>
<div id="advanced_search" class="collapsible">
	<div class="collapsed">
		<h5><a href="#advanced_search">Advanced Search [show]</a></h5>
	</div>
	<div class="expanded">
		<h5><a href="#collapse">Advanced Search [hide]</a></h5>
		<%= form_tag("/search", method: "get") do %>
			<div class="form-group">
			<%= label_tag :query, 'Find:' %>
			<%= text_field_tag(:query, params[:query]) %>
			</div>
			<div class="form-group">
			<%= label_tag :game_type, 'Game Type:' %>
			<%= select_tag(:game_type, options_from_collection_for_select(@games, 'id', 'name'), :prompt => 'All Games') %>
			</div>
			<div>
			<%= submit_tag("Search", :name=>nil) %>
			</div>
		<% end %>
	</div>
</div>

<%# Show search results if a query was not nill %>
<% if !@query.nil? and !@query.empty? %>

	<% if @tournaments.empty? and @players.empty? %>
		<h3> No results found for "<%= @query %>" </h3>
	<% else %>
		<h3> Showing results for: <span><%= @query %></span></h3>
		<% if @tournaments.length > 0 %>
			<h4> Tournaments </h4>
		<% end %>
		<% @tournaments.each do |t| %>
			<%= render "common/show_tournament", :target => t %>
		<% end %>

		<% if @players.length > 0 %>
			<h4> Players </h4>
		<% end %>
		<% @players.each do |p| %>
			<%= render "common/show_user", :target => p %>
		<% end %>

	<% end %>
<% end %>
