<%= form_for(@server) do |f| %>
	<%= render "common/error_messages", :target => @server %>

	<%= fields_for "server[default_user_abilities]", @server.default_user_abilities do |a| %>
		<fieldset>
			<legend>Default permissions for new users</legend>
			<ul>
				<% @server.default_user_abilities.keys.each do |ability| %>
					<li><label><%= a.check_box(ability) %> <%= ability.to_s.humanize %></label></li>
				<% end %>
			</ul>
		</fieldset>
	<% end %>

	<%= f.submit %>
<% end %>
