<h1>Conversations</h1>

<table>
  <col width="150">
  <col width="250">
  <col width="300">
  <tbody>
    <tr>
      <% conversations = current_user.mailbox.conversations %>
      <% if !conversations.empty? %>
      <%# require 'pp' %>
      <%= conversations.class %>
        <tr>
          <td><b>With</b></td>
          <td><b>Subject</b></td>
          <td><b>Body</b></td>
        </tr>
        <% conversations.each do |conversation| %>
          <% receipts = conversation.receipts_for current_user %>
          <%# receipts.each do |receipt| %>
            <% message = receipts.last.message %>
            <tr>
            <td>
              <% people = conversation.participants %>
              <% people.each do |person| %>
                <% unless person == current_user %>
                  <%= truncate(person.user_name, length: 20) %>
                <% end %>
              <% end %>
            </td>
            <td><%= truncate(conversation.subject, length: 30) %></td>
            <td><%= truncate(message.body, length: 42) %></td>
            <td><%= link_to 'View', @pms.find_by(conversation: conversation) %></td>
            </tr>
          <%# end %>
        <% end %>

      <% else %>
          <td><p> No Messages </p></td>
      <% end %>
     </tr>

  </tbody>
</table>

<br>

<%= link_to 'New Pm', new_pm_path %>
