<h1>Conversations</h1>

<table>
  <tbody>
    <tr>
      <td><h3>Inbox<h3></td>
    </tr>
    <tr>
      <% conversations = current_user.mailbox.inbox %>
      <% if !conversations.empty? %>
      <%# require 'pp' %>
      <%= conversations.class %>
        <tr>
          <td><b>From</b></td>
          <td><b>Subject</b></td>
          <td><b>Body</b></td>
        </tr>
        <% conversations.each do |conversation| %>
          <% receipts = conversation.receipts_for current_user %>
          <% receipts.each do |receipt| %>
            <% message = receipt.message %>
            <tr>
            <td><%= conversation.last_sender.user_name %></td>
            <td><%= message.subject %></td>
            <td><%= message.body %></td>
            <td><%# link_to 'Show', @pms.where(conversation: conversation) %></td>
            </tr>
          <% end %>
        <% end %>

      <% else %>
          <td><p> No Messages </p></td>
      <% end %>
     </tr>

     <tr>
      <td><h3>Outbox<h3></td>
    </tr>
    <tr>
      <% conversations = current_user.mailbox.sentbox %>
      <% if !conversations.empty? %>
        <tr>
          <td><b>To</b></td>
          <td><b>Subject</b></td>
          <td><b>Body</b></td>
        </tr>
        <% conversations.each do |conversation| %>
          <% receipts = conversation.receipts_for current_user %>
          <% receipts.each do |receipt| %>
            <% message = receipt.message %>
            <tr>
            <td>Doesn't work</td>
            <td><%= message.subject %></td>
            <td><%= message.body %></td>
            <td><%# link_to 'Show', @pms.where(conversation: conversation) %></td>
            </tr>
          <% end %>
        <% end %>
            
      <% else %>
          <td><p> No Messages </p></td>
      <% end %>
     </tr>

  </tbody>
</table>

<br>

<%= link_to 'New Pm', new_pm_path %>
<h1>Conversations</h1>

<table>
  <tbody>
    <tr>
      <td><h3>Inbox<h3></td>
    </tr>
    <tr>
      <% conversations = current_user.mailbox.inbox %>
      <% if !conversations.empty? %>
      <%# require 'pp' %>
      <%= conversations.class %>
        <tr>
          <td><b>From</b></td>
          <td><b>Subject</b></td>
          <td><b>Body</b></td>
        </tr>
        <% conversations.each do |conversation| %>
          <% receipts = conversation.receipts_for current_user %>
          <% receipts.each do |receipt| %>
            <% message = receipt.message %>
            <tr>
            <td><%= conversation.last_sender.user_name %></td>
            <td><%= message.subject %></td>
            <td><%= message.body %></td>
            <td><%# link_to 'Show', @pm.where(conversation: conversation) %></td>
            </tr>
          <% end %>
        <% end %>

      <% else %>
          <td><p> No Messages </p></td>
      <% end %>
     </tr>

     <tr>
      <td><h3>Outbox<h3></td>
    </tr>
    <tr>
      <% conversations = current_user.mailbox.sentbox %>
      <% if !conversations.empty? %>
        <tr>
          <td><b>To</b></td>
          <td><b>Subject</b></td>
          <td><b>Body</b></td>
        </tr>
        <% conversations.each do |conversation| %>
          <% receipts = conversation.receipts_for current_user %>
          <% receipts.each do |receipt| %>
            <% message = receipt.message %>
            <tr>
            <td>Doesn't work</td>
            <td><%= message.subject %></td>
            <td><%= message.body %></td>
            <td><%# link_to 'Show', conversation %></td>
            </tr>
          <% end %>
        <% end %>
            
      <% else %>
          <td><p> No Messages </p></td>
      <% end %>
     </tr>

  </tbody>
</table>

<br>

<%= link_to 'New Pm', new_pm_path %>
