<h1> Your Conversations </h1>

<%= link_to 'Start a new conversation', new_pm_path %>
<br>

<h3>Unread Conversations</h3>
<% conversations = current_user.mailbox.conversations %>

<table>
  <col width="150">
  <col width="250">
  <col width="300">
  <tbody>
    <%# if conversations.reject { |c| c.is_unread?(current_user) && (c.receipts_for current_user).last.message.sender != current_user }.empty? %>
      <tr>
        <tr>
          <td><b>With</b></td>
          <td><b>Subject</b></td>
          <td><b>Body</b></td>
        </tr>
        <% conversations.each do |conversation| %>
          <% receipts = conversation.receipts_for current_user %>
          <% if conversation.is_unread?(current_user) && receipts.last.message.sender != current_user %>
            <% message = receipts.last.message %>
            <tr>
            <% if conversation.subject == "Pay Attention!" %>
              <% conversation.mark_as_read(current_user) %>
            <% end %>
            <td>
              <% people = conversation.participants %>
              <% people.each do |person| %>
                <% unless person == current_user %>
                  <%= truncate(person.user_name, length: 20) %>
                <% end %>
              <% end %>
            </td>
            <td><%= truncate(conversation.subject, length: 30) %></td>
            <td><%= truncate(message.body, length: 42) %></td>
            <td><%= link_to 'View', @pms.find_by(conversation: conversation) %></td>
            </tr>
          <% end %>
        <% end %>
      </tr>
    <%# else %>
      
    <%# end %>
  </tbody>
</table>

<br>
<h3>Read Conversations</h3>
<% conversations = current_user.mailbox.conversations %>

<table>
  <col width="150">
  <col width="250">
  <col width="300">
  <tbody>
    <%# if conversations.reject { |c| c.is_read?(current_user) || (c.receipts_for current_user).last.message.sender == current_user }.empty? %>
      <tr>
        <tr>
          <td><b>With</b></td>
          <td><b>Subject</b></td>
          <td><b>Body</b></td>
        </tr>
        <% conversations.each do |conversation| %>
          <% receipts = conversation.receipts_for current_user %>
          <% if conversation.is_read?(current_user) || receipts.last.message.sender == current_user  %>
            <% message = receipts.last.message %>
            <tr>
            <% if conversation.subject != "Pay Attention!" %>
              <td>
                <% people = conversation.participants %>
                <% people.each do |person| %>
                  <% unless person == current_user %>
                    <%= truncate(person.user_name, length: 20) %>
                  <% end %>
                <% end %>
              </td>
              <td><%= truncate(conversation.subject, length: 30) %></td>
              <td><%= truncate(message.body, length: 42) %></td>
              <td><%= link_to 'View', @pms.find_by(conversation: conversation) %></td>
            <% end %>
            </tr>
          <% end %>
        <% end %>
      </tr>
    <% #else %>
      
    <% #end %>
  </tbody>
</table>

<br>
<h3>Alerts</h3>
<% conversations = current_user.mailbox.conversations %>

<table>
  <col width="150">
  <col width="650">
  <tbody>
    <%# if conversations.reject { |c| c.is_read?(current_user) || (c.receipts_for current_user).last.message.sender == current_user }.empty? %>
      <tr>
        <tr>
          <td><b>With</b></td>
          <td><b>Body</b></td>
        </tr>
        <% conversations.each do |conversation| %>
          <% receipts = conversation.receipts_for current_user %>
          <% if conversation.is_read?(current_user) || receipts.last.message.sender == current_user  %>
            <% message = receipts.last.message %>
            <tr>
            <% if conversation.subject == "Pay Attention!" && message.sender != current_user %>
              <td>
                <% people = conversation.participants %>
                <% people.each do |person| %>
                  <% unless person == current_user %>
                    <%= truncate(person.user_name, length: 20) %>
                  <% end %>
                <% end %>
              </td>
              <td><%= truncate(message.body, length: 80) %></td>
              <td><%= link_to 'View', @pms.find_by(conversation: conversation) %></td>
            <% end %>
            </tr>
          <% end %>
        <% end %>
      </tr>
    <% #else %>
      
    <% #end %>
  </tbody>
</table>

<br>
<br>
<br>