<p>
  <strong>Participants:</strong>
  <% receps = @pm.conversation.participants %>
  <% receps.each do |recep| %>
    <% #unless recep == @pm.conversation.last_sender %>
      <%= recep.user_name %>
      <%= "," %>
    <% #end %>
  <% end %>
  <%= "and the NSA" %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @pm.conversation.subject %>
</p>

<% receipts = @pm.conversation.receipts_for current_user %>
<% receipts.each do |receipt| %>
  <% message = receipt.message %>

  <p> ________________________________________________ </p>

  <p>
    <b><%= message.sender.user_name %></b>
    <%= ":" %>
    <%= message.body %>
  </p>

<% end %>

<p> ________________________________________________ </p>
<p> 
  <%= form_for(@pm) do |f| %>
    <div class="field">
    <%= f.text_area :message %>
    </div>

    <div class="actions">
    <%= submit_tag("Reply", :class => "signup") %>
    </div>

 <% end %>
</p>

<% @pm.conversation.mark_as_read(current_user) %>
<%= link_to 'Back', pms_path %>
