<%= link_to '« Back to all private messages', pms_path, class: :breadcrumb %>

<div>
	<p>
		<strong>Participants:</strong>
		<% receps = @pm.conversation.participants %>
		<% receps.each do |recep| %>
			<% #unless recep == @pm.conversation.last_sender %>
				<%= recep.user_name %>,
			<% #end %>
		<% end %>
		<%= "and the NSA" %>
	</p>

	<p>
		<strong>Subject:</strong>
		<%= @pm.conversation.subject %>
	</p>
</div>

<% receipts = @pm.conversation.receipts_for current_user %>
<% receipts.each do |receipt| %>
	<% message = receipt.message %>
	<hr>
	<p>
		<strong><%= message.sender.user_name %>:</strong>
		<%= message.body %>
	</p>
<% end %>

<hr>

<div>
	<% @pm.message = "" %>
	<%= form_for(@pm) do |f| %>
		<div class="field">
			<%= f.text_area :message %>
		</div>

		<div class="actions">
			<%= submit_tag("Reply", :class => "signup") %>
		</div>
	<% end %>
</div>

<% @pm.conversation.mark_as_read(current_user) %>
