<%= form_for(@user) do |f| %>
  <%= render "common/error_messages", :target => @user %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :user_name %><br>
    <%= f.text_field :user_name %>
  </div>

  <div>
    <%= f.label(:password, "New Password (or use old)") %><br>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label(:password_confirmation, "Confirm Password") %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <% if current_user.can? :edit_permissions %>
  <fieldset>
    <legend>User permissions</legend>
    <ul>
    <%= fields_for "user[abilities]", @user.abilities do |abilities_fields| %>
      <% @user.abilities.keys.each do |ability| %>
      <li><label><%= abilities_fields.check_box(ability) %> <%= ability.to_s.humanize %></label></li>
      <% end %>
    <% end %>
    </ul>
  </fieldset>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
