<%
# Copyright (C) 2014 Andrew Murrell
# Copyright (C) 2014 Davis Webb
# Copyright (C) 2014 Guntas Grewal
# Copyright (C) 2014 Luke Shumaker
# Copyright (C) 2014 Nathaniel Foy
# Copyright (C) 2014 Tomer Kimia
#
# This file is part of Leaguer.
#
# Leaguer is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Leaguer is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the Affero GNU General Public License
# along with Leaguer.  If not, see <http://www.gnu.org/licenses/>.
%>
<%= form_for(@user) do |f| %>
  <%= render "common/error_messages", :target => @user %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field(:email) %>
  </div>

  <div class="field">
    <%= f.label :user_name %><br>
    <%= f.text_field :user_name %>
  </div>

  <div>
    <%= f.label(:password, "New Password (or use old)") %><br>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label(:password_confirmation, "Confirm Password") %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <% if current_user.can? :edit_permissions %>
  <fieldset>
    <legend>User permissions</legend>
    <ul>
    <%= fields_for "user[abilities]", @user.abilities do |abilities_fields| %>
      <% @user.abilities.keys.each do |ability| %>
      <li><%= abilities_fields.check_box(ability) %> <%= abilities_fields.label(ability) %></li>
      <% end %>
    <% end %>
    </ul>
  </fieldset>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
