
<h1> <%= @user.user_name %>'s Profile </h1>

<p>
  <%= image_tag 'http://www.gravatar.com/avatar/' + Digest::MD5.hexdigest(@user.email) + '?s=100&d=mm' %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Preferred name:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>Relationship Status:</strong>
  too single
</p>


<p>
<% if @user.remote_usernames[0].nil? %>
	<%= form_for @user do |f| %>
		<label>Have a League of Legends Account?
			<input type=text name="user[remote_usernames][League of Legends]">
		</label>
		<%= f.submit "Add Username", :class => 'signup' %>
	<% end %>
<% end %>
</p>


<div class="row">
	<div class="col-md-6">
	  	<h3> Recent Tournaments Played </h3>
		<ul>
			<% @user.tournaments_played.each do |t| %>
				<li><%= t.name %></li>
			<% end %>
		</ul>
	  </div>
    <div class="col-md-6">
    	<h3> Recent Tournaments Hosted </h3>
    	<% if  @user.tournaments_hosted.count == 0 %> <p> <%= @user.user_name %> has never hosted a tournament </p> <%end %>
		<ul>
			<% @user.tournaments_hosted.each do |t| %>
				<li><%= t.name %></li>
			<% end %>
		</ul>
	</div>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Users', users_path %>
