<%= render "common/error_messages", :target => @tournament %>
<fieldset>

	<legend style="color:rgb(221, 145, 37)">Attributes
	</legend>

	<%= form_for(@tournament, url: new_tournament_path, method: "get") do |f| %>
		<%= render "common/error_messages", :target => @tournament %>
		<p>
			<%= f.label :game_id, "Select a game type" %>
			<%= f.select(:game_id, Game.all.map{|game| [game.name, game.id]}) %>
			<%= f.submit("Select") %>
		</p>
	<% end %>

	<% if @tournament.game.nil? %>
</fieldset>
<% else %>
	<%= form_for(@tournament, url: tournaments_path, method: "post") do |f| %>
		<%= f.hidden_field(:game_id) %>
		<p>
			<%= f.label :name %>
			<%= f.text_field :name %>
		</p>
		<div>
			<p>
				<table>
					<tbody>
						<tr>
							<td></td>
							<th style="padding:5px">Minimum</th>
							<th style="padding:5px">Maximum</th>
						</tr>
						<tr>
							<th>Players per team: </th>
							<td style="padding:5px"><%= f.text_field(:min_players_per_team, type: :number, min: 1) %></td>
							<td style="padding:5px"><%= f.text_field(:max_players_per_team, type: :number, min: 1) %></td>
						</tr>
					</tbody>
				</table>
			</p>
		</div>

		<div id="teams-table">
			<p>
				<table><tbody>
					<tr>
						<th>Teams per match: </th>
						<td style="padding:5px"><%= f.text_field(:min_teams_per_match, type: :number, min: 1) %></td>
						<td style="padding:5px"><%= f.text_field(:max_teams_per_match, type: :number, min: 1) %></td>
					</tr>
				</tbody></table>
			</P>
		</div>

		<p>
			<%= f.label :scoring_method %>
			<%= f.select(:scoring_method, @tournament.scoring_methods.map{|method| [method.humanize.titleize, method]}) %>
		</p>

		<p>
			<%= f.label :sampling_method %>
			<%= f.select(:sampling_method, @tournament.sampling_methods.map{|method| [method.humanize, method]}) %>
		</p>

</fieldset>

<fieldset>
		<legend style="color:rgb(221, 145, 37)">Settings
		</legend>
		<%= f.fields_for :settings do |setting_fields| %>
			<% @tournament.tournament_settings.each do |setting| %><p>
				<%= setting_fields.label setting.name %>
				<br>
				<% case setting.vartype %>
				<% when 0 %>
					<%= setting_fields.text_field( setting.name ) %>
				<% when 1 %>
					<%= setting_fields.text_area( setting.name ) %>
				<% when 2 %>
					<ul>
					<% setting.type_opt.split(',').each do |option|%>
						<li><label><%= setting_fields.radio_button( setting.name, option ) %><%= option.humanize %></label></li>
					<% end %>
					</ul>
				<% when 3 %>
					<ul>
					<% setting.type_opt.split(',').each do |option|%>
						<li><label><%= check_box_tag("tournament[settings][#{setting.name}][]", option, setting.value.split(',').include?(option)) %><%= option.humanize %></label></li>
					<% end %>
					</ul>
				<% when 4 %>
					<%= setting_fields.radio_button( setting.name, "true" ) %> True
					<%= setting_fields.radio_button( setting.name, "false" ) %> False
				<% when 5 %>
					<%= setting_fields.select( setting.name, setting.type_opt.split(',').collect {|opt| opt.humanize.titleize} ) %>
				<% end %>
			</p>
			<% end %>
		<% end %>
</fieldset>

	<%= f.fields_for :stages do |stages_fields| %>
			<fieldset>

				<legend style="color:rgb(221, 145, 37)">Stages

				</legend>
						<label for="num_stages">Number of tournament stages
						</label>
						<input type="number" name="num_stages" min="1" value="<%= params[:num_stages].to_i %>">
						<%# stage_fields.submit("Set Stages") %>
						<% for i in 1..(params[:num_stages].to_i) do %>
							<p>
								<%= stages_fields.fields_for i.to_s do |stage_fields| %>
									<fieldset>
										<legend style="color:rgb(221, 145, 37)">Stage <%= i %>
										</legend>
										<%= stage_fields.label :scheduling_method %>
										<%= stage_fields.select(:scheduling_method, @tournament.scheduling_methods.map{|method| [method.humanize, method]}) %>
										<%= stage_fields.label :seeding_method %>
										<%= stage_fields.select(:seeding_method, @tournament.seeding_methods.map{|method| [method.humanize, method]}) %>
									</fieldset>
								<% end %>
							</p>
						<% end %>
			</fieldset>
	<% end %>

		<%= f.submit %>

	<% end %>
<% end %>
