<%= form_for(@tournament) do |f| %>
  <%= render "common/error_messages", :target => @tournament %>
  <%= f.hidden_field(:game_id) %>

  <% @tournament.attributes.each do |name, value| %>
    <% if (name == "id") or (name =~ /.*_at$/) or (name == "game_id") %>
      <% next %>
    <% end %>
    <p>
        <%= f.label name %><br>
        <%= f.text_field name %>
    </p>
  <% end %>
  <%= f.submit %>
<% end %>