<h1>Listing Tournaments</h1>

<% if @tournaments.length > 0 %>
  <div id="tournament-list">
    
    <% @tournaments.each do |t| %>
      <div class="row tournament-listing">
          <div class="col-md-2 ">Gravatar of Host Goes Here</div>
          

          <div class="col-md-8">
            <%# "header" %>
            <%= link_to(t) do %>
              <h3><%= t.name %></h3>
            <% end %>

             <div class="row">
              <div class="col-md-4 host">
               Hosted by: <%= t.hosts.first.name %>
              </div>
              <div class="col-md-8 things">
                <p> Players per team </p>
                <p> two </p>
              </div>
            </div> 
          
          </div>
          

          <div class="col-md-2">
            <%# If this guy is logged in AND not in the tournament %>
            <% if signed_in? && !t.players.include?(current_user) %>
              <%= form_tag(tournament_path(t), method: "put") do %>
                <input type="hidden" name="update_action" value="join">
                  <%= submit_tag("Join") %>
                <% end %>
            <% else %>
              <p> You've signed up for this tournament! </p>
            <% end %>
          </div>

      </div>
    <% end %>


  </div>
<% else %>
  <p class="no-entries"> No tournaments going on right now... Why not start your own? </p>
<% end %>
<br>

<%= link_to 'New Tournament',  new_tournament_path, :class => "btn btn-warning btn-lg" %>
