<h1>Listing Tournaments</h1>

<% if @tournaments.length > 0 %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Game</th>
      <th>Status</th>
      <th>Players per team</th>
      <th>Teams per match</th>
      <th>Randomized teams</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tournaments.each do |tournament| %>
      <tr>
        <td><%= tournament.name %></td>
        <td><% case tournament.status
              when 0 %>
              <%= form_tag(tournament_path(tournament), method: "put") do %>
              <input type="hidden" name="update_action" value="join">
                <%= submit_tag("Join") %>
              <% end %>
            <% when 1 %>
              Ongoing
            <% else %>
              Closed
            <%end %>
          </td>
        <td><%= tournament.min_players_per_team %>
            <% if tournament.min_players_per_team != tournament.max_players_per_team %>
              to <%= tournament.max_players_per_team %>
              <% end %>
        </td>
        <td><%= tournament.min_teams_per_match %>
         <% if tournament.min_teams_per_match != tournament.max_teams_per_match %>
              to <%= tournament.max_teams_per_match %>
              <% end %>
          </td>
        <td><%= tournament.randomized_teams %></td>
        <td><%= link_to 'Show', tournament %></td>
        <td><%= link_to 'Edit', edit_tournament_path(tournament) %></td>
        <td><%= link_to 'Destroy', tournament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p class="no-entries"> No tournaments going on right now... Why not start your own? </p>
<% end %>
<br>

<%= link_to 'New Tournament',  new_tournament_path, :class => "btn btn-warning btn-lg" %>
