<h1>Listing tournaments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Game</th>
      <th>Status</th>
      <th>Ger</th>
      <th>Randomized teams</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tournaments.each do |tournament| %>
      <tr>
        <td><%= tournament.name %></td>
        <td><%= tournament.game %></td>
        <td><%= tournament.status %></td>
        <td><%= tournament.ger %></td>
        <td><%= tournament.randomized_teams %></td>
        <td><%= link_to 'Show', tournament %></td>
        <td><%= link_to 'Edit', edit_tournament_path(tournament) %></td>
        <td><%= link_to 'Destroy', tournament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tournament', new_tournament_path %>
