<h1>Listing tournaments</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Status</th>
      <th>Name</th>
      <th>Min players per team</th>
      <th>Max players per team</th>
      <th>Min teams per match</th>
      <th>Max teams per match</th>
      <th>Scoring method</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tournaments.each do |tournament| %>
      <tr>
        <td><%= tournament.game %></td>
        <td><%= tournament.status %></td>
        <td><%= tournament.name %></td>
        <td><%= tournament.min_players_per_team %></td>
        <td><%= tournament.max_players_per_team %></td>
        <td><%= tournament.min_teams_per_match %></td>
        <td><%= tournament.max_teams_per_match %></td>
        <td><%= tournament.scoring_method %></td>
        <td><%= link_to 'Show', tournament %></td>
        <td><%= link_to 'Edit', edit_tournament_path(tournament) %></td>
        <td><%= link_to 'Destroy', tournament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tournament', new_tournament_path %>
