<% if @tournament.joinable_by?(current_user) %>
	<%= form_tag(tournament_page(@tournament)+"/join", method: "get") do %>
		<%= submit_tag("Join") %>
	<% end %>
<% end %>

<p>
  <strong>Game:</strong>
  <%= @tournament.game %>
</p>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
