<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tournament.name %>
</p>

<p>
  <strong>Game:</strong>
  <%= @tournament.game %>
</p>

<p>
  <strong>Status:</strong>
  <%= @tournament.status %>
</p>

<p>
  <strong>Ger:</strong>
  <%= @tournament.ger %>
</p>

<p>
  <strong>Randomized teams:</strong>
  <%= @tournament.randomized_teams %>
</p>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
