<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @tournament.game %>
</p>

<p>
  <strong>Status:</strong>
  <%= @tournament.status %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tournament.name %>
</p>

<p>
  <strong>Min players per team:</strong>
  <%= @tournament.min_players_per_team %>
</p>

<p>
  <strong>Max players per team:</strong>
  <%= @tournament.max_players_per_team %>
</p>

<p>
  <strong>Min teams per match:</strong>
  <%= @tournament.min_teams_per_match %>
</p>

<p>
  <strong>Max teams per match:</strong>
  <%= @tournament.max_teams_per_match %>
</p>

<p>
  <strong>Scoring method:</strong>
  <%= @tournament.scoring_method %>
</p>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
