<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :parent_id %><br>
    <%= f.text_field :parent_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :min_players_per_team %><br>
    <%= f.number_field :min_players_per_team %>
  </div>
  <div class="field">
    <%= f.label :max_players_per_team %><br>
    <%= f.number_field :max_players_per_team %>
  </div>
  <div class="field">
    <%= f.label :min_teams_per_match %><br>
    <%= f.number_field :min_teams_per_match %>
  </div>
  <div class="field">
    <%= f.label :max_teams_per_match %><br>
    <%= f.number_field :max_teams_per_match %>
  </div>
  <div class="field">
    <%= f.label :set_rounds %><br>
    <%= f.number_field :set_rounds %>
  </div>
  <div class="field">
    <%= f.label :randomized_teams %><br>
    <%= f.check_box :randomized_teams %>
  </div>
  <div class="field">
    <%= f.label :sampling_method %><br>
    <%= f.text_field :sampling_method %>
  </div>
  <div class="field">
    <%= f.label :scoring_method %><br>
    <%= f.text_field :scoring_method %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
