<h1>Listing games</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Players per team</th>
      <th>Teams per match</th>
      <th>Set rounds</th>
      <th>Randomized teams</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.name %></td>
        <td><%= game.players_per_team %></td>
        <td><%= game.teams_per_match %></td>
        <td><%= game.set_rounds %></td>
        <td><%= game.randomized_teams %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path, {:class => "btn btn-warning"} %> 
