<p>
  <strong>Parent:</strong>
  <%= @game.parent %>
</p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Min players per team:</strong>
  <%= @game.min_players_per_team %>
</p>

<p>
  <strong>Max players per team:</strong>
  <%= @game.max_players_per_team %>
</p>

<p>
  <strong>Min teams per match:</strong>
  <%= @game.min_teams_per_match %>
</p>

<p>
  <strong>Max teams per match:</strong>
  <%= @game.max_teams_per_match %>
</p>

<p>
  <strong>Set rounds:</strong>
  <%= @game.set_rounds %>
</p>

<p>
  <strong>Randomized teams:</strong>
  <%= @game.randomized_teams %>
</p>

<p>
  <strong>Sampling method:</strong>
  <%= @game.sampling_method %>
</p>

<p>
  <strong>Scoring method:</strong>
  <%= @game.scoring_method %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
