<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Players per team:</strong>
  <%= @game.players_per_team %>
</p>

<p>
  <strong>Teams per match:</strong>
  <%= @game.teams_per_match %>
</p>

<p>
  <strong>Set rounds:</strong>
  <%= @game.set_rounds %>
</p>

<p>
  <strong>Randomized teams:</strong>
  <%= @game.randomized_teams %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
