<%= form_for(@remote_username) do |f| %>
  <% if @remote_username.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@remote_username.errors.count, "error") %> prohibited this remote_username from being saved:</h2>

      <ul>
      <% @remote_username.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game_id %><br>
    <%= f.text_field :game_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :user_name %><br>
    <%= f.text_field :user_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
