<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :tournament_stage_id %><br>
    <%= f.text_field :tournament_stage_id %>
  </div>
  <div class="field">
    <%= f.label :winner_id %><br>
    <%= f.text_field :winner_id %>
  </div>
  <div class="field">
    <%= f.label :remote_id %><br>
    <%= f.text_area :remote_id %>
  </div>
  <div class="field">
    <%= f.label :submitted_peer_evaluations %><br>
    <%= f.number_field :submitted_peer_evaluations %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
