<%= form_for([@tournament, @tournament.matches.build]) do |f| %>
  
  <div class="field">
    <%= f.label :tournament_id %><br>
    <%= f.text_field :tournament_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :winner_id %><br>
    <%= f.text_field :winner_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
