<%= form_for([@tournament, @tournament.matches.build]) do |f| %>
  
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :tournament_stage_id %><br>
    <%= f.text_field :tournament_stage_id %>
  </div>
  <div class="field">
    <%= f.label :winner_id %><br>
    <%= f.text_field :winner_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
