<h1><%= @tournament.name %> Matches</h1>

<!--
<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Tournament</th>
      <th>Name</th>
      <th>Winner</th>
      <th>Remote</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tournament.matches.each do |match| %>
      <tr>
        <td><%= match.tournament.id %></td>
        <td><%= match.status %></td>
        <td><%= match.tournament %></td>
        <td><%= match.name %></td>
        <td><%= match.winner %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
-->

<SVG version="1.1"
   baseProfile="full"
   width="<%= 300 * @matches.count / 2 + 50 %>" height="<%= 200 * @matches.count + 50 %>"
   xmlns="http://www.w3.org/2000/svg">

   <% @matches.each do |tournament | %>
    <g class="svg-match" >
   
    </g>
   <% end %>

</SVG>
