<h1><%= @tournament.name %> - Matches</h1>


<table id="matches-table" class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Status</th>
			<th>Winner</th>
			<th><!-- link to --></th>
			<th><!-- start button --></th>
		</tr>
	</thead>
	<tbody>
		<% @tournament.stages.order(:id).each do |stage| %>
			<% stage.matches_ordered.keys.sort.reverse.each do |match_key| %><tr>
				<% match = stage.matches_ordered[match_key] %>
				<td><%= "Match #{match.id}" %></td>
				<td><%= match.status %></td>
				<td><%= (match.winner.nil? ? "-" : "Team #{match.winner.id}") %></td>
				<td><%= link_to "See Match", tournament_match_path(@tournament, match) %>
				<td> 
					<% if match.check_permission(current_user, :edit) %>
						<%= form_tag(tournament_match_path(@tournament, match), method: "put") do %>
							<input type="hidden" name="update_action" value="start">
							<% @startable = (match.status == 1) and (match.teams.count >= @tournament.min_teams_per_match) %>
							<%= submit_tag("Start Match", :disabled => ! @startable) %>
						<% end %>
					<% end %>
				</td>
			</tr><% end %>
		<% end %>
	</tbody>
</table>

<br>

<% @tournament.stages.order(:id).each do |stage| %>
	<div class="graph"><%= raw stage.to_svg(current_user) %></div>
<% end %>
