<h1><%= @tournament.name %> - Matches</h1>


<table class="table">
  <thead>
    <tr>
      <th>Status</th>
      <th>Name</th>
      <th>Winner</th>
      <th></th>
    </tr>
  </thead>

  <tbody class="table-hover">
    <% @tournament.matches.each do |match| %>
      <tr>
        <td><%= match.status %></td>
        <td><%= match.id%></td>
        <td><%= match.name %></td>
        <td><%= link_to "Show", tournament_match_path(@tournament, match) %>
        <td><%= submit_tag("Start Match") %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<SVG version="1.1"
   baseProfile="full"
   width="<%= 300 * @matches.count / 2 + 50 %>" height="<%= 200 * @matches.count + 50 %>"
   xmlns="http://www.w3.org/2000/svg">

   <% (1..@matches.count).each do |i| %>
    <g class="svg-match">
      <rect rx="10"
      
    </g>
   <% end %>

</SVG>
