<h1><%= @tournament.name %> - Matches</h1>


<table id="matches-table" class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Winner</th>
      <th></th>
    </tr>
  </thead>

	<tbody class="table-hover">
		<% @tournament.matches.order(:id).reverse.each do |match| %><tr>
			<td><%= match.name %></td>
			<td><%= match.status %></td>
			<td><%= (match.winner.nil? ? "-" : "Team #{match.winner.id}") %></td>
			<td><%= link_to "Show", tournament_match_path(@tournament, match) %>
			<td> <%# If user is the host, let them start the tournment %>
				<% if @tournament.hosts.include?(current_user) %>
					<%= form_tag(tournament_match_path(@tournament, match), method: "put") do %>
						<input type="hidden" name="update_action" value="start">
						<% @startable = (match.status == 0) and (match.teams.count >= @tournament.min_teams_per_match) %>
						<%= submit_tag("Start Match", :disabled => ! @startable) %>
					<% end %>
				<% end %>
			</td>
		</tr><% end %>
	</tbody>
</table>

<br>

<% @tournament.stages_ordered.each do |stage| %>
	<div class="graph"><%= stage.to_svg %></div>
<% end %>
