<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @match.status %>
</p>

<p>
  <strong>Tournament:</strong>
  <%= @match.tournament %>
</p>

<p>
  <strong>Name:</strong>
  <%= @match.name %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @match.winner %>
</p>

<p>
  <strong>Remote:</strong>
  <%= @match.remote_id %>
</p>

<p>
  <strong>Submitted peer evaluations:</strong>
  <%= @match.submitted_peer_evaluations %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
