
<p>
	<strong>Status:</strong>
	<%= @match.status %>
</p>
<p>
	<strong>Tournament stage:</strong>
	<%= @tournament.stages.order(:id).index(@match.tournament_stage)+1 %>
</p>

<%#
	Match Status 0 =>	Created, waiting to be scheduled
	Match Status 1 =>	Scheduled, waiting to start
	Match Status 2 =>	Started, waiting to finish
	Match Status 3 =>	Finished

	Four views:- (status is Match status)
	A. Pairings, when status is 1 for either Host or Player Or when status is 2 for player 
	B. A page the host will see if status is 2 OR 3
	C. The Peer review page that the players will see if status is 3.
	D. The page everyone will see when status is 4.

	Note: The change of status from 2 to 3 for League of Legends is coming from League Data Pull (RIOT API)
%>

<div>
	<h2>Teams/users</h2>
	<ul>
	<% @match.teams.each do |team| %>
		<li>Team <%= team.id %><ul>
			<% team.users.each do |user| %>
				<% if @match.status <= 1 %>
					<li><%= user.user_name %></li>
				<% else %>
					<% score = user.statistics.where(:name => "score", :match => @match).first %>
					<li><%= user.user_name %> - SCORE: <%= score ? score.value : 0 %></li>
				<% end %>
			<% end %>
		</ul></li>
	<% end %>
	</ul>
</div>

<% unless @match.winner.nil? %>
	<p>
		<strong>Winner:</strong>
		<%= @match.winner.users.collect{|u| u.user_name}.join(", ") %>
	</p>
<% end %>

<div id="action">
	<%= form_tag(tournament_match_path(@tournament, @match), method: "put") do %>
		<% case @match.status %>
		<% when 0 %>
			<!-- Created, waiting to be scheduled -->
			<p>This match has not yet been scheduled.</p>
		<% when 1 %>
			<!-- Scheduled, waiting to start -->
			<% if @tournament.hosts.include? current_user %>
				<input type="hidden" name="update_action" value="start">
				<%= submit_tag("Start Match") %>
			<% else %>
				<p>Match is waiting to start.</p>
			<% end %>
		<% when 2 %>
			<!-- Started, waiting to finish -->
			<%= @match.render_sampling(current_user) %>
		<% when 3 %>
			<!-- Finished -->
			<p>This match is finished.</p>
			<% if @tournament.hosts.include? current_user %>
				<input type="hidden" name="update_action" value="reset">
				<%= submit_tag("Reset Status") %>
			<% end %>
		<% end %>
	<% end %>
</div>
