<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @match.status %>
</p>

<p>
  <strong>Tournament stage:</strong>
  <%= @match.tournament_stage %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @match.winner %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
