<p>
  <strong>Status:</strong>
  <%= @match.status %>
</p>
<p>
  <strong>Tournament:</strong>
  <%= @match.tournament.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @match.name %>
</p>
<!--
	Match Status 0 =>	Pairings Stage
	Match Status 1 =>	Match Active 
	Match Status 2 =>	Match Finished (Peer Review Starts) 
	Match Status 3 => 	Match Completed (Scores Completed OR Results Page)  	

	Four views:- (status is Match status)
	A. Pairings, when status is 0 for either Host or Player Or when status is 1 for player 
	B. A page the host will see if status is 1 OR 2
	C. The Peer review page that the players will see if status is 2.
	D. The page everyone will see when status is 3.

	Note:- The change of status from 1 to 2 is coming from League Data Pull (RIOT API)

-->

<% if (@match.status== 0) || !@tournament.players.include?(current_user) %>
	<% @match.teams.each do |team| %>
		<ol>
			<% team.users.collect{|u| u.user_name}.each do |k| %>
				<li><%= k %></li>
			<% end %>
		</ol>
	<% end %>


<!--
	This is what the Players and the Hosts of the tournament will view when the Match Status is 1
-->
<% elsif (@match.status==1) %>
	<% if @tournament.hosts.include?(current_user) && @scores.empty? %>
		<%= form_tag(tournament_match_path(@tournament, @match), method: "put") do %>
	    	<input type="hidden" name="update_action" value="score">
			<% @match.teams.each do |team| %>
				<fieldset><legend>Team <%= team.id.to_s %></legend>
					<% team.users.collect{|u| u.user_name}.each do |k| %>
						<label>Score for <%= k %> 
							<br> 
							<%= text_field_tag("scores[#{k}]", 0, size: 3) %>
						</label>
					<% end %>
				</fieldset>
		  	<% end %>
		  	<%= submit_tag("Enter Scores") %>
		<% end %>
	<% else %>
		<% if  @scores.empty? %>
			<p> The host has yet to post the scores of the match </p>
			<% @match.teams.each do |team| %>
				<ol>
					<% team.users.collect{|u| u.user_name}.each do |k| %>
						<li><%= k %></li>
					<% end %>
				</ol>
			<% end %>
		<% else %>
			<% @match.teams.each do |team| %>
				<ol>
					<% team.users.each do |user| %>
						<li><%= user.user_name %> - SCORE: <%= @scores.select{|s| s.user == user}.first.value %></li>
					<% end %>
				</ol>
			<% end %>
		<% end %>
	<% end %>

<!--
	When Match Status is 2
	Players see the Peer Review Page
	Host see the Game Status
-->
<% elsif (@match.status==2) %>
	<% if (@tournament.players.include?(current_user)) %>
		<% @match.teams.each do |team| %>
			<% if team.users.include?(current_user) %>
				<ol id="boxes" class="sortable">
					<% team.users.collect{|u| u.user_name}.each do |k| %>
						<li><%= k%>
							<br>
							<% if (@tournament.game_id  == 1) %>
								<%= if @blue2["#{k}"] == nil
										"Level: #{@purp2["#{k}"]["level"]}  K/D/A: #{@purp2["#{k}"]["championsKilled"]}/#{@purp2["#{k}"]["numDeaths"]}/#{@purp2["#{k}"]["assists"]}  Gold:#{@purp2["#{k}"]["goldEarned"]}"
									else 
										"Level: #{@blue2["#{k}"]["level"]}  K/D/A: #{@blue2["#{k}"]["championsKilled"]}/#{@blue2["#{k}"]["numDeaths"]}/#{@blue2["#{k}"]["assists"]}  Gold:#{@blue2["#{k}"]["goldEarned"]}"
								end %>
							<% end %>
						</li>
					<% end %>
				</ol>
			<% end %>
	  	<% end %>	
	<% elsif (@tournament.hosts.include?(current_user)) %>
		<label>Game Status Page Goes here! Because you are a Host that is not a player!</label>
	<% end %>
<% end %>

<% unless @match.winner.nil? %>
	<p>
		<strong>Winner:</strong>
		<%= @match.winner.users.collect{|u| u.user_name}.join(", ") %>
	</p>
<% end %>

<% if @tournament.players.include?(current_user) %>
<br />
<div id="host">
    <%= form_tag(tournament_match_path(@tournament, @match), method: "put") do %>
    	<% case @match.status %>
		<% when 0 %>
        	<input type="hidden" name="update_action" value="start">
        	<%= submit_tag("Start Match") %>
        <% when 1 %>
            <input type="hidden" name="update_action" value="peer">
        	<%= submit_tag("Begin Peer Evaluation") %>
        <% when 2 %>
        	<input type="hidden" name="update_action" value="finish">
        	<%= submit_tag("End Match") %>   
         <% when 3 %>
        	<input type="hidden" name="update_action" value="reset">
        	<%= submit_tag("Reset Status") %>   
        <% end %>
    <% end %>

</div>
<% end %>
