<div class="row tournament-listing">
	<div class="col-md-2 col-sm-3 col-xs-6">
		<%= image_tag(target.game.name.downcase.tr(" ", "_").tr(",", "") + ".png", class: "t-image") %>
		<p class="t-game"> <%= Game.find(target.game_id).name %></p>
	</div>
	<div class="col-md-8 col-sm-7 col-xs-6">
		<%# "header" %>
		<%= link_to(target) do %><h3><%= target.name %></h3><% end %>
		<div class="row" style="margin-left:2%;">
			<div class="col-md-4 host">
				<%= image_tag('http://www.gravatar.com/avatar/' + Digest::MD5.hexdigest(target.hosts.first.email) + '?s=45&d=identicon') %>
				<%= target.hosts.first.name %>'s tournament
			</div>
			<div class="col-md-4 things">
				<p> Players per team: <%= target.min_players_per_team %></p>
				<p> Players signed up: <%= target.players.count %> </p>
			</div>
			<div class="col-md-4 things">
				<p> <%# (target.randomized_teams)? "Teams are Random" : "Teams are Chosen" %></p>
				<p> Players signed up: <%= target.players.count %> </p>
			</div>
		</div>
	</div>
	<div class="col-md-2 col-sm-2 col-xs-2">
		<% if signed_in? %>
			<% if !target.players.include?(current_user) %>
			<%= form_tag(tournament_path(target), method: "put") do %>
				<input type="hidden" name="update_action" value="join">
				<%= submit_tag("Join")%>
				<% end %>
			<% else %>
			<p style="margin-top:10px;"> You've signed up for this tournament! 	</p>
			<% end %>
			<%= form_tag(tournament_brackets_path(target), method: "post") do %>
				<%= submit_tag("Make Bracket") %>
			<% end %>
		<% end %>
	</div>
</div>