<div class="row tournament-listing">
	<div class="col-md-2 col-sm-3 col-xs-6">
		<%= image_tag(target.game.name.parameterize.underscore + ".png", class: "t-image") %>
		<p class="t-game"><%= Game.find(target.game_id).name %></p>
	</div>
	<div class="col-md-8 col-sm-7 col-xs-6">
		<%# "header" %>
		<%= link_to(target) do %><h3><%= target.name %></h3><% end %>
		<div class="row">
			<div class="col-md-4 host">
				<%= image_tag('http://www.gravatar.com/avatar/' + Digest::MD5.hexdigest(target.hosts.first.email) + '?s=45&d=identicon') %>
				<%= target.hosts.first.name %>'s tournament
			</div>
			<div class="col-md-4 things">
				<p>Players per team: <%= target.min_players_per_team %></p>
				<p>Players signed up: <%= target.players.count %></p>
			</div>
			<div class="col-md-4 things">
				<p><%# (target.randomized_teams)? "Teams are Random" : "Teams are Chosen" %></p>
				<p>Players signed up: <%= target.players.count %></p>
			</div>
		</div>
	</div>
	<div class="col-md-2 col-sm-2 col-xs-2">
		<% if signed_in? %>
			<% if !target.players.include?(current_user) && target.status == 0 %>
			<%= form_tag(tournament_path(target), method: "put") do %>
				<p>
					<input type="hidden" name="update_action" value="join">
					<%= submit_tag("Join")%>
					<% end %>
				</p>
			<% elsif target.players.include?(current_user)%>
				<p class="message">You've signed up for this tournament!</p>
			<% end %>
			<% @user_bracket = target.brackets.find_by(user: current_user) %>
			<% if target.status == 1 && target.stages.order(:id).first.scheduling_method == "elimination" && target.stages.order(:id).first.matches.order(:id).first.status < 2 && !@user_bracket %>
				<%= form_tag(tournament_brackets_path(target), method: "post") do %>
					<%= submit_tag("Make Bracket") %>
				<% end %>
			<% elsif @user_bracket && target.status == 4 %>
				<%= form_tag(tournament_bracket_path(@tournament, @bracket), method: 'put') do %>
  					<input type="hidden" name="update_action" value="results">
  					<%= submit_tag("Bracket Results") %>
				<% end %>
			<% end %>
		<% end %>
	</div>
</div>
