<%
# Copyright (C) 2014 Andrew Murrell
# Copyright (C) 2014 Davis Webb
# Copyright (C) 2014 Guntas Grewal
# Copyright (C) 2014 Luke Shumaker
# Copyright (C) 2014 Nathaniel Foy
# Copyright (C) 2014 Tomer Kimia
#
# This file is part of Leaguer.
#
# Leaguer is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Leaguer is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the Affero GNU General Public License
# along with Leaguer.  If not, see <http://www.gnu.org/licenses/>.
%>
<div class="row user-listing">
	<div class="col-md-3 col-sm-4 col-xs-4"><%= image_tag ('http://www.gravatar.com/avatar/' + Digest::MD5.hexdigest(target.email) + '?s=100&d=mm') %></div>
	

	<div class="col-md-9 col-sm-8 col-xs-8">
		<%# "header" %>
		<%= link_to(target) do %><h3><%= target.user_name %></h3><% end %>
		
		<div class="row">
			<div class="col-md-6 things">
				<p> Preferred Name: </p>
				<p> <%= target.name %></p>
			</div>
			<div class="col-md-6 things">
				<p>Latest Tournament:
				<% if !target.tournaments_played.first.nil? %>
					<%= target.tournaments_played.first.name %>
				<% end %>
				</p>
			</div>
		</div>

	</div>
</div>
