<%
# Copyright (C) 2014 Andrew Murrell
# Copyright (C) 2014 Davis Webb
# Copyright (C) 2014 Guntas Grewal
# Copyright (C) 2014 Luke Shumaker
# Copyright (C) 2014 Nathaniel Foy
# Copyright (C) 2014 Tomer Kimia
#
# This file is part of Leaguer.
#
# Leaguer is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Leaguer is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the Affero GNU General Public License
# along with Leaguer.  If not, see <http://www.gnu.org/licenses/>.
%><!DOCTYPE html>
<html lang="en">
<head>
	<title>Leaguer</title>

	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "#{params[:controller]}", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "#{params[:controller]}/#{params[:action]}", "data-turbolinks-track" => true %>

	<%= csrf_meta_tags %>
	<%= yield :head %>
</head>
<body>
<header>
	<nav>
		<div class="container-fluid">
			<div class="navbar-header">
				<%= link_to('Leaguer', root_path, class: "navbar-brand") %>
			</div>
			<div class="navbar-collapse">
				<div id="user-actions">
					<span>
						<% if signed_in? %>
							<%= link_to current_user.user_name, current_user, :class => "user", :role => :button %>
							<%= link_to "Sign out", session_path("current"), method: "delete", :class => "signout", :role => :button %>
						<% else %>
							<%= link_to "Log in", new_session_path, :class => "signin", :role => :button %>
							<%= link_to "Sign up", new_user_path, :class => "signup", :role => :button %>
						<% end %>
					</span>
					<% if current_user.can? :create_alert %>
						<span><%= link_to "Create Alert", new_alert_path, :class => "create-alert", :role => :button %></span>
					<% end %>
				</div>
				<% if signed_in? %>
					<ul>
					        <li><%= link_to "Tournaments", tournaments_path %></li>
						<li><%= link_to "Messages", pms_path %></li>
						<% if current_user.can? :edit_server %>
							<li><%= link_to "Server settings", edit_server_path, :class => "server" %></li>
						<% end %>
					</ul>
					<%# If there is an unread alert then I want to be able
					    to show the notification icon by saying :style =>
					    display:inline. This will be Done by Guntas once
					    he figures out how to get unread alerts. Psuedo if
					    alerts.unread > 0 then display else don't.%>
					<%= link_to "", alerts_path, :class => "alerts", :id => "alerts-ajax"%>
				<% end %>
				<%= form_tag("/search", method: :get, :id => "search") do %><div>
					<%= text_field_tag(:query, params[:query], type: :search) %>
					<%= submit_tag "Search" %>
				</div><% end %>
			</div>
		</div>
	</nav>
</header>

<% if notice %><div id="notice"><p><%= notice %></p></div><% end %>

<div class="container">
	<%= yield %>
</div>

<footer>
	<p>Leaguer &copy; 2014, Tomer Kimia, Andrew Murrell, Luke Shumaker, Nathaniel Foy, Davis Webb, and Guntas Grewal</p>
	<%= debug(params) if Rails.env.development? %>
</footer>

</body>
</html>
