<!DOCTYPE html>
<html>
<head>
  <title>Leaguer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
<div role="navigation" class="navbar navbar-inverse">
<header>
	<div class="navbar-brand no-dec"> 
	<%= link_to('Leaguer', '/', nil) %>
	</div>
	
	<a id="log-out-btn" class="btn btn-warning navbar-left" href="/signout" role="button" style="margin-top: 9px;"> Log Out</a>
	
	<div>
	<%= form_tag("/search", method: "get", :class => "navbar-form navbar-right") do %>
		<%= text_field_tag(:query, nil, :placeholder => "Search") %>

		<%= submit_tag("Go", {:class => "btn btn-warning"}) %> 
	<% end %>
	</div>
	<% if signed_in? %>
		<li> <%= current_user.user_name.upcase %> </li>
	<% end %>
     <li>
      <%= if signed_in? do %>
      	<%= link_to "Sign out", signout_path, method: "delete" %>
      <% end; end %>
     </li>
</header>
    </div>

<div class="container"> 
<%= yield %>
</div>
<hr>
<footer id="footer">
<p> Tomer Kimia Andrew Murrell Luke Shumaker Nathaniel Foy Davis Webb Guntas Grewal </p> 
<p> The Leaguer System &#169; <%= Time.now.year %> </p> </footer>
 <%= debug(params) if Rails.env.development? %>
</body>
</html>
