<!DOCTYPE html>
<html>
<head>
  <title>Leaguer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
<script>
		window.onload = function() {
			BetterDragSort.makeListSortable(document.getElementById("boxes"));
		};
</script>
<header>
	<nav>
	<%# This is the logo %>
	<div class="navbar-brand"><%= link_to('Leaguer', root_path) %></div>

	<%# This is the search bar  #%>
	<div>
		<%= form_tag("/search", method: "get", :class => "search") do %>
			<%= text_field_tag(:query, nil, :placeholder => "Search") %>
			<%= submit_tag("Go", :name=>nil) %>
		<% end %>
	</div>

	<%# these are the log in buttons #%>
	<div id="log-buttons">
		<% if signed_in? %>
			<%= link_to current_user.user_name, current_user, :class => "user" %>
			<%= link_to "Messages", pms_path %>
			<%= link_to "Sign out", session_path("current"), method: "delete", :class => "signout" %>
			<% if current_user.can? :edit_server %>
				<%= link_to "Server settings", edit_server_path, :class => "server" %>
			<% end %>
		<% else %>
			<%= link_to "Log in", new_session_path, :class => "signin" %>
			<%= link_to "Sign up", new_user_path, :class => "signup" %>
		<% end %>
	</div>
	</nav>
</header>

<% if notice %><div id="notice"><p><%= notice %></p></div><% end %>

<div class="wrapper">
		<%= yield %>
</div>

<footer>
	<p>Leaguer &copy; 2014, Tomer Kimia, Andrew Murrell, Luke Shumaker, Nathaniel Foy, Davis Webb, and Guntas Grewal</p>
	<%= debug(params) if Rails.env.development? %>
</footer>

</body>
</html>
